.js-enabled .closed {
  position: absolute !important;
  overflow: hidden !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  width: 1px !important;
  margin: -1px !important;
  padding: 0 !important;
  border: 0 !important; }

.sticky {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important; }

.bodyoverflowhidden {
  position: relative;
  overflow: hidden; }

.menuoverflowauto {
  max-height: 100%;
  width: 100%;
  overflow: auto; }

.absolutemenu {
  position: absolute !important;
  top: 100% !important;
  left: 0 !important;
  right: 0 !important;
  z-index: 99; }

/* Extend the accessible hide class to the closed class class */
/* Only when JS is enabled since we add the closed class in the markup */
/* The menu itself */
.navigation_container li {
  position: relative;
  /* initially hide all li>ul so we get a small list when JS is disabled */
  /* And show them on active/current items */ }
  .navigation_container li ul {
    display: none; }
  .navigation_container li.active > ul, .navigation_container li.current > ul {
    display: block; }
.navigation_container.initiated li ul {
  display: block; }
@media screen and (min-width: 600px) {
  .navigation_container {
    /* Hide li>ul when JS is enabled and screen is big */
    /* And show on hover */ }
    .navigation_container li.parent > a:after {
      content: " \25bc"; }
    .navigation_container.initiated li ul,
    .navigation_container li ul,
    .navigation_container li.active ul {
      display: none;
      position: absolute;
      left: 0;
      top: 100%;
      z-index: 9; }
    .navigation_container li:hover > ul {
      display: block; } }
