body {
  font-family: sans-serif;
  line-height: 1.5em;
}

.togglebutton,
.subtoggle {
  margin: 10px;
  padding: 5px 10px;
  border: 1px solid black;
  outline: none;
  background: #fff;
  color: #0072B3;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }

  &:focus {
    text-decoration: underline;
  }
}

.subtoggle {
  margin: 5px;
  float: right;
}

.navigation_container {
  background: #0072B3;
  color: #fff;

  ul {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  ul:before,
  ul:after {
    display: table;
    content: " ";
  }

  ul:after {
    clear: both;
  }

  ul.closed, // For JS disabled/broken browsers
  ul.fullmenu { // For all the other ones

    // First level
    li.parent {
      & > a:after {
        content: " \25bc";
      }
    }

    // Other levels
    ul li.parent > a:after {
      content: " \25b6";
    }
  }

  li {
    padding: 0;
    float: left;

    &.focused,
    &:hover a,
    a:hover,
    a:focus {
      background: darken(#0072B3, 10%);
    }
  }

  .opened li {
    float: none;
  }

  a {
    display: block;
    color: #fff;
    padding: 10px;
    text-decoration: none;

    &:after {
      font-size: 12px;
      vertical-align: middle;
      line-height: 24px;
      text-decoration: none;
    }
  }

  .active a,
  .active a:hover,
  .active a:focus {
    background: #fff;
    color: #333;
    cursor: default;
  }

  ul.closed, // For JS disabled/broken browsers
  ul.fullmenu { // For all the other ones

    li ul {
      background: darken(#0072B3, 10%);
      padding: 10px;
      width: 150px;
      border-top: none;

      li {
        float: none;

        &.focused > a,
        &:hover > a,
        a:hover,
        a:focus {
          text-decoration: none;
          background: white;
          color: #0072B3;
        }
      }
    }
  }
}