// Variables
$vjsm-menu-name: navigation_container !default;
$vjsm-menu-width: 600px !default;
$vjsm-closed-class: rm-closed !default;
$vjsm-no-js-class: no-js !default;
$vjsm-js-class: js !default;

// Accessible hide
@mixin accessible-hide {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

// Accessible show
@mixin accessible-show {
  overflow: visible;
  clip: auto;
  height: auto;
  width: auto;
  margin: auto;
}

// Sticky
.rm-sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

// Overflow
.rm-bodyoverflowhidden {
  position: relative;
  overflow: hidden;
}

.rm-menuoverflowauto {
  max-height: 100%;
  width: 100%;
  overflow: auto;
}

// Absolute menu
.rm-absolutemenu {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 9;
}

/* hide the buttons when closed so they wont show up in tabindex */
button.#{$vjsm-closed-class} {
  display: none;
}

/* CAccessible hide items that have the closed class */
ul.#{$vjsm-closed-class} {
  @include accessible-hide;
}

/* When JS is disabled */
.#{$vjsm-no-js-class} {
  .#{$vjsm-menu-name} {
    li {
      /* initially hide all li>ul so we get a small list when JS is disabled */
      ul {
        @include accessible-hide;

        /* On desktop */
        @media (min-width: $vjsm-menu-width) {
          @include accessible-show;
        }
      }

      /* And show them on active/current items */
      &.active,
      &.current {
        & > ul {
          @include accessible-show;
        }
      }
    }
  }
}

/* When JS is enabled */
.#{$vjsm-js-class} {
  .#{$vjsm-menu-name} {

    /* We can use display none because we set display block again with JS immediately after initiating the menu */
    display: none;

    /* Display menu when initiated */
    &.rm-initiated {
      display: block;
    }

    /* Display menu on desktop */
    @media (min-width: $vjsm-menu-width) {
      display: block;
    }

    // Display
    .rm-focused {
      overflow: visible;
    }
  }
}

/* When JS is either disabled or enabled */
.#{$vjsm-menu-name} {
  li {
    position: relative;

    /* On desktop */
    @media (min-width: $vjsm-menu-width) {
      overflow: hidden;

      /* Children */
      ul {
        position: absolute;
        left: 0;
        top: 100%;
        z-index: 9;
      }

      /* Position li>li>ul */
      ul ul {
        left: 100%;
        top: 0;
      }

      /* And show on hover */
      &:hover,
      &:focus {
        overflow: visible;
      }
    }
  }
}
