// Accessible hide
%accessible-hide {
  position: absolute !important;
  overflow: hidden !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  width: 1px !important;
  margin: -1px !important;
  padding: 0 !important;
  border: 0 !important;
}

// Sticky
.sticky {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
}

// Overflow
.bodyoverflowhidden {
  position: relative !important;
  overflow: hidden !important;
}

.menuoverflowauto {
  max-height: 100% !important;
  width: 100% !important;
  overflow: auto !important;
}

// Absolute menu
.absolutemenu {
  position: absolute !important;
  top: 100% !important;
  left: 0 !important;
  right: 0 !important;
  z-index: 9;
}

// Focus items
.focused {
  overflow: visible !important;
}

/* Extend the accessible hide class to the closed class */
/* Only when JS is enabled since we add the closed class in the markup */
/* And we want the menu to be open when JS is disabled/broken */
.js-enabled:not(.no-responsive-menu) {
  .closed {
    @extend %accessible-hide;
  }
}

/* hide the buttons when closed so they wont show up in tabindex */
button.closed {
  display: none;
}

/* The menu itself */
.navigation_container {

  li {
    position: relative;

    /* initially hide all li>ul so we get a small list when JS is disabled */
    ul {
      display: none;
    }

    /* And show them on active/current items */
    &.active,
    &.current {
      & > ul {
        display: block;
      }
    }
  }

  // Show li ul on small screens when JS is enabled
  &.initiated {
    li ul {
      display: block;
    }
  }

  ul.closed, // For JS disabled/broken browsers
  ul.fullmenu { // For all the other ones

    li {
      overflow: hidden;
    }

    /* Hide li ul when JS is enabled and screen is big */
    li ul {
      position: absolute;
      left: 0;
      top: 100%;
      z-index: 9;

      /* Position li>li>ul */
      li ul {
        left: 100%;
        top: 0;
      }
    }

    /* And show on hover */
    li:hover,
    li:focus {
      overflow: visible;
    }
  }
}